/* Tag Selectors */

body {
    background-color: powderblue;
}

h1:hover{
    background-color: slateblue;
}

/* Class Selectors */

.grapes {
    background-color: purple;
}

.cherries {
    background-color: red;
}

/* Id Selectors  */

#authorTitle {
    color:saddlebrown;
}
