<%- include('partials/header') %>

<div class="jumbotron text-center">
  <div class="container">
    <form action="/updateRank" method="post">
      <label for="">Enter the rank</label>
      <input type="text" name="rank">
      <button>Submit</button>
    </form>

    
  </div>
</div>




<%- include('partials/footer') %>
