<%- include('partials/header') %>

<form action="/selectedSubject" method="post">


      <ul>

            <% visibleSubjects.forEach(subject => { %>
            <li>
                  <label> <%= subject.name %> </label>
                  <input type="checkbox" name="<%=subject.name%>">

            </li>


            <% }) %>
      </ul>
      <button>Submit</button>

      <a class="btn btn-light btn-lg" href="/chosenSubjects" role="button">Show Subjects</a>

      <a href="/logout">Logout</a>


</form>



<%- include('partials/footer') %>