<%- include('partials/header') %>
<h1>The users have not selected the subjects yet</h1>

<% remainingTeachers.forEach(teacher => { %>

    <h2> <%= teacher %>  </h2>





<% }) %>


<a href="/logout">Logout</a>



<%- include('partials/footer') %>
